.main {
  text-align: center;
  margin-top: 120px;
}

form {
  margin: 60px;
}

input {
  width: 360px;
}

/* Top */

header {
  position: absolute;
  top: 0;
  width: 100%;
}

.top {
  display: block;
  background-color: grey;
}

#leftheader li {
  float: left;
  padding: 10px;
  margin: 10px;
}

#rightheader li {
  float: right;
  padding: 10px;
  margin: 10px;
}

#rightheader button {
  background-color: rgb(11, 149, 235);
  color: white;
  border-radius: 5px;
}

/* Bottom */
.bottom {
    display: inline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  font-size: 14px;
  color: rgb(34, 33, 33);
}

footer a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.bottom li {
  margin: 10px;
  padding: 10px;

}

.bottom li:hover {
  background-color: lightgray;
  cursor: pointer;
  text-decoration: underline;
}

#leftfooter li {
  float: left;
}

#rightfooter li {
  float: right;
}